*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background: #007BFF;
    color: white;
    text-align: center;
    padding: 40px;
}
.menu a ,h1{
    text-decoration: none;
    color: white;
    margin:15px ;
}
.hero{
    background-color: #FFFFFF;
    padding: 20px 0;
    justify-content: center;
    display: flex;
    align-items: center; 
    gap: 20px; 
}
.hero img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.footer-contact{
    text-align: center;
    background-color: #F1F1F1;
    padding: 20px;
}
.footer-contact a{
    color: blue;
}