/* reset css mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
    width: 720px;
}
#blue {
    color: blue;
    margin: 20px 0;
}
.tip{
    background-color: rgb(255, 253, 208);
    color: black;
    border-left: 5px solid rgb(255, 166, 0);
    margin: 20px 0;
    padding: 20px 20px 20px 10px;
}
.tip b{
    color: rgb(255, 166, 0);
}