/* reset css mặc định */
* {
  margin: 0;
  padding: 0;
}
main{
    background-color: rgb(252, 195, 91);
    text-align: center;
    width: 400px;
    padding: 10px;
}
h1{
    color: blue;
    margin: 20px;
}
p{
    margin: 20px;
}
input[type="button"]{
    padding: 10px 20px;
}
input[type="button"]:hover{
    background-color: green;
    color: white;
    border-style:outset ;
}